.header {
    font-size: 15px;
    background-color: aqua;
    width: 100%;
    border: 2px solid black;
    height: 75px;
}
.inner_header{
    height: 100%;
    display: block;
}
.navigation {
    float: right;
    height: 100%;
    margin-right: 20px;
}
.logo_container {
    height: 100%;
    float: left;
    display: table;
    vertical-align: center;
    margin-left: 30px;
}
.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
#homepage {
    background-color: grey;
}
#aboutpage{
    background-color: lightgray;
}

.photo {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }
.quote {
    text-align: center;
    font-size: 50px;
}


.aboutquote{
    position: relative;
    text-align: center;
    left: 100px;
}
img{
    max-width: 60%;
    max-height: 50%;
}
.aboutpic{
    position: relative;
    width: 100%;
    text-align: center;
    left: 100px;
    height: 700px;
}
.box{
    width: 100%;
}
.innerbox2{
    float: right;
    position: relative;
    right: 70px;
    bottom: 140px;
}
.innerbox1{
    position: relative;
    left: 60px;
}
.container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.container1 {
    display: flex;
    justify-content: space-evenly;
}
.container2 {
    display: flex;
    justify-content: space-evenly;
}
.hvacphoto {
    width: 300px;
    height: 200px;
}
.portfolioquote {
    width: 100%;
    text-align: center;
    position: relative;
    left: 120px;
}
 
