.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px; 10%;
}
<<<<<<< HEAD

 * {
    box-sizing:border-box;
    margin: 0;
    background-color: lightgray;
}
.nav_links{
    list-style: none;
}
.nav_links li {display: inline-block;
    padding: 0px 20px;
}

=======
.inner_header{
    height: 100%;
    display: block;
}
.navigation {
    float: right;
    height: 100%;
    margin-right: 20px;
}
.logo_container {
    height: 100%;
    float: left;
    display: table;
    vertical-align: center;
    margin-left: 30px;
}
.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
>>>>>>> about
#homepage {
    background-color: grey;
}
#aboutpage{
    background-color: lightgray;
}

.photo {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }
.quote {
    text-align: center;
    font-size: 50px;
}


.aboutquote{
<<<<<<< HEAD
    text-align: center;
    position: relative;
    left: 100px;
    top: 50px;
=======
    position: relative;
    text-align: center;
    left: 100px;
>>>>>>> about
}
img{
    max-width: 60%;
    max-height: 50%;
}
.aboutpic{
    position: relative;
    width: 100%;
    text-align: center;
    left: 100px;
    height: 700px;
<<<<<<< HEAD
    top: 100px;
=======
>>>>>>> about
}
.box{
    width: 100%;
}
.innerbox2{
    float: right;
    position: relative;
    right: 70px;
<<<<<<< HEAD
    bottom: 80px;
=======
    bottom: 140px;
>>>>>>> about
}
.innerbox1{
    position: relative;
    left: 60px;
}
<<<<<<< HEAD
#portfoliopage{
    background-color: lightgray;
}
.portfolioquote{
    text-align: center;
    position: relative;

}
.portbox1{
    background-color: red;
    position: relative;
    left: 125px;
}

.tablerow{
    display: table;
    width: 100%;
}
.tablecell{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 75px;
}
.container1 {
    display: flex;
    justify-content: space-evenly;
    margin-left: 160px;
    margin-top: 50px;
}
.hvacphoto {
    width: 1000px;
    height: 800px;
}
.codephoto {
    width: 1000px;
    height: 800px;
}
.landscapephoto {
    width: 1000px;
    height: 800px;
}


=======
>>>>>>> about
    